.card {
  border-radius: 0.25rem;
  margin: 2rem 0;
  padding: 1rem;
  box-shadow:0 0 1em #000;
  max-width: 350px;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.profile img{
  margin-top: 2rem;
  border-radius: 50%;
  
}

.description{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.description p {
  margin-top: 1rem;
}
.description h1 {
  font-size: 2rem;
}

.tech{
  margin-top: 1rem;
}
.tech ul {
  margin-top: 1rem;
  list-style: none;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.contact a {
  margin-right: 1rem;
  text-decoration: underline;  
}
.contact i:hover {

  transition: filter 0.2s;
  filter: brightness(0.9);
  transform: scaleX(1.1);
}
.contact i {
  font-size: 2rem;
}


/* Global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @media (max-width: 1080px){
    font-size:93.75%;
  }
  @media (max-width: 720px){
    font-size:87.5%;
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DDBEA9;
  -webkit-font-smoothing: antialiased;
}
body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}
button {
  cursor: pointer;
}
